*{
	margin: 0px;
	padding:0px;

}
.box{
    /*display: inline-block;*/
    box-sizing: border-box;
	padding-left:37px;
	padding-top:30px;
	border: 2px solid #001F1F;
	border-radius: 1px;
    color: white;
    height:80px;
    width: 80px;
    font-family: 'Fredericka the Great', cursive;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: absolute;
    
}

body{
	overflow-y: hidden;
	overflow-x: hidden; 
	-webkit-transition: background 1s; /* For Safari 3.0 to 6.0 */
    transition: background 1s; /* For modern browsers */
}
/* .box:after{
	content: "";
    display: inline-block;
    padding-bottom: 10%;
} */
#puzzle{
	
    max-width: 320px;
    max-height: 320px;
	margin-top: 30px;
	border: 8px solid #001F1F;
	border-radius: 4px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  	width: 100%;
}
#puzzle:after{
  content: "";
  display: block;
  padding-bottom: 100%;
}
#one{
    top: 0px;
	
}
#two{
    left: 80px;
	
}
#three{
    left: 160px;
}
#four{
    left: 240px;
}
#five{
    top: 80px;
}
#six{
    top: 80px;
    left: 80px;

}
#seven{
    top: 80px;
    left: 160px;

}
#eight{
    top: 80px;
    left: 240px;
}
#nine{
    top: 160px;
}
#ten{
    top: 160px;
    left: 80px;
}
#eleven{
    top: 160px;
    left: 160px;
}
#twelve{
    top: 160px;
    left: 240px;
}
#thirteen{
    top: 240px;
}
#fourteen{
    top: 240px;
    left: 80px;
}
#fifteen{
    top: 240px;
    left: 160px;
}
#space{
    top: 240px;
    left: 240px;
}

#moon1{
	text-decoration: none;
	font-size: 30px;

}

/*#but{
	position: relative;
	margin-left:700px ;
	margin-top:65px;
}
#but2{
	position:relative;
	margin-left:580px ;
	margin-top:-20px;

}*/
h1{
    display: inline-block;
    margin-top: 10px;
	margin-left: 20px;
	color: #e24d3c;
	font-family: 'Acme', sans-serif;
    
}
h2 {
	display: inline-block;
    font-family: 'Fredericka the Great', cursive;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
	color: #8a0303 ;

}

.moon{
	display:block;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}

#moves{
	width: 20px;
	margin-left: 10px;
	color:  #e74c3c;
    font-family: 'Varela Round', sans-serif;

}
#bestTap{
	width: 20px;
	margin-left: 10px;
	color:  #e74c3c;
    font-family: 'Varela Round', sans-serif;
}
/*.container{
	position: relative;
}*/
footer{
	background-color:rgba(226, 77, 60,0.7);
	display: flex;
	justify-content: space-between;
	margin: 0px;
	padding:10px;
    position: absolute;
    top: 100%;
    transform: translate(0,-100%);
	width: 100%;
}
 .btn {
    padding: 1em 2.1em 1.1em;
    border-radius: 3px;
  	color: #fbdedb;
    background-color: #fbdedb;
    display: inline-block;
    background: #e74c3c;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
   /* position: absolute;*/
}
/*.btn2{
	position: absolute;
	right: 0%;
}*/
.btnpos{
	/*margin-left: 37%;
	margin-top: 30px;*/
    display:block;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
/*justify-content: space-around;*/
}
.taps{
    position: absolute;
    top: 75%;
    left: 2%;

}
.date{
    float: right;
    margin-right:1%;
}
.btn:hover, .btn:focus {
    opacity: 0.8;
}
.btn:active {
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}
body.dark{
	 background-color: rgb(0, 0, 0);
    color: white;
}
#puzzle.dark{
	border-color: white;
	-webkit-transition: border-color 1s; /* For Safari 3.0 to 6.0 */
    transition: border-color 1s; /* For modern browsers */
}
h2.dark{
	color: white;
	-webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
    transition: color 1s; /* For modern browsers */
}
body.light{
	background-color: white;
    color: black;
}


@media only screen and (max-width: 768px) {
	.btn{
		/* margin-left: 100px; */
		width: 100%;
	}
	
	#puzzle{
		width: 100%;
		/* margin: 0 auto; */
		/* margin-top: 20px; */
    }
	.date{
   
    margin-right:4%;
}
    
	
	/* h2{
		margin-top: 15px;
		margin-left: 130px;
	} */

}
@media only screen and (max-width: 360px) {
	.btnpos{
		
		margin-left: 0px;
		margin-top:30px;
	}
	.box{
		margin: 0px;
			
	}
}
/*@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  h2{
  	color: white;
  }
  #puzzle{
  	border-color: white;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}*/
